*
{
    box-sizing: border-box;
}
body
{
    font-family: Roboto,sans-serif;
    font-size:14px;
    height: 100%;
}
a
{
    text-decoration: none;
}
ul
{
    margin: 0;
    padding: 0;
}
.left
{
    float:left;
}
.right
{
    float:right;
}
.center
{
    text-align: center;
}
.circle
{
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
}
.clearfix:after,.cleartotal:after
{
    content: '';
    display: block;
    clear: both;
}
.cleartotal,.cleartop
{
    clear: both;
}
.logo img
{
    max-width: 100px;
}
.user-photo img
{
    max-width: 50px;
    margin-right:20px;
}
.dashboard-nav li a
{
    padding:13px 20px;
    display: block;
}
.dashboard-right .block
{
    padding:15px;

}
.dashboard-right{
    width:calc(100% - 210px);
}
.dashboard-right .block .value
{
    float:left;

}

.dashboard-nav{
    background-color: black;
    width: 210px;
    height: calc(100% - 70px);
}
.left-tabs a:hover{
    background-color: rgba(255, 255, 255, .2);
    color: #fff;

}
.header-class{
    height: 62px;
}

.photo-tab{
    color: white;
    padding: 15px;
}
.content-holder{
    margin: 80px ;
    width:350px;
}

.header_tag{
    height: 62px;
    width: auto;
    background-color: rgba(253, 255, 238, 0.91);
padding-left: 15px;
    line-height: 62px;

}